body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.landing-page {
  text-align: center;
}

.banner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3); /* Adiciona uma camada escura se necessário */
  padding: 150px;
  text-align: center;
  color: white;

}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("C:/Users/Usuario/LandingPage-Adv/src/Layout/Imgs/Logo/Logo 2 - Mendes Miranda Advogados Associados.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
  z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

.banner h1,
.banner p {
  position: relative; /* Faz o texto ficar em cima da imagem */
  z-index: 1; /* Garante que o texto fique acima da imagem desfocada */
}

.banner h1 {
  font-size: 2.5rem;
  margin: 0;
}

.banner p {
  font-size: 1.2rem;
  margin-top: 10px;
}


.form-section {
  width: 90%;
  max-width: 700px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 20px auto;
  background: #f4f4f4;
}

.form-section h2 {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

form label {
  font-size: 0.9rem;
  color: #34495e;
  padding-right: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
}

form input:focus,
form textarea:focus {
  border-bottom: 1px solid #2c3e50;
  outline: none;
}

form button {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s, transform 0.2s;
  width: fit-content;
  margin: 0 auto;
}

form button:hover {
  background: #34495e;
  transform: scale(1.05);
}

form button:active {
  transform: scale(1);
}

.footer {
  background: #000000;
  color: white;
  padding: 20px;
  margin-top: 20px;
}
